/*Large Screen 1024 - 1200px)*/
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
  .section-form {
    width: 70%;
  }
}

/*Big Screen 768 - 1023px)*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0px;
  }
  .section-feature {
    font-size: 85%;
  }
  .long-copy {
    width: 85%;
    margin-left: 10%;
  }
  .btn-app img {
    height: 40px;
    width: auto;
    margin-left: 20px;
  }
  .plan-box {
    width: 75%;
    height: auto;
  }
  .step-box {
    margin-top: 10px;
    font-size: 90%;
  }
  .step-box:first-child {
    margin-top: 10px;
  }
  .work-step {
    margin-bottom: 40px;
  }
  .work-step:last-of-type {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 50%;
  }
  .icon-small {
    width: 17px;
  }
  .city-feature {
    font-size: 85%;
  }
  .plan-box {
    width: 100%;
  }
  .section-form {
    font-size: 90%;
  }
}

/*Medium Screen 481px - 767px)*/
@media only screen and (max-width: 767px) {
}

/*Small Screen 0px - 480px)*/
@media only screen and (max-width: 480px) {
}
